// ion-content{
//     --background: var(--ion-color-primary);
//   }
//   @-webkit-keyframes slide-in-bottom{0%{-webkit-transform:translateY(1000px);transform:translateY(1000px);opacity:0}100%{-webkit-transform:translateY(0);transform:translateY(0);opacity:1}}@keyframes slide-in-bottom{0%{-webkit-transform:translateY(1000px);transform:translateY(1000px);opacity:0}100%{-webkit-transform:translateY(0);transform:translateY(0);opacity:1}}
//   .container{
//     -webkit-animation:slide-in-bottom .5s cubic-bezier(.25,.46,.45,.94) both;animation:slide-in-bottom .5s cubic-bezier(.25,.46,.45,.94) both;
//     min-height: 300px;
//     // height: 50%;
//     width: 100%;
//     background-color:var(--ion-color-primary-contrast);
//     top: 0;
//     position: absolute;
//     border-bottom-left-radius: 30px;
//     border-bottom-right-radius: 30px;
//     h2{
//         color: var(--ion-color-primary);
//         font-weight: bold;
//     }
//     h3{
//         color: var(--ion-color-primary);
//         font-weight: bold;
//     }
  
//   }
//   .img1{
//     height: 190px;
//   }

  
//   .form{
//     padding: 10px;
//     position: absolute;
//     top: 50%;
//     width: 100%;
//     -webkit-animation:slide-in-bottom .5s cubic-bezier(.25,.46,.45,.94) both;animation:slide-in-bottom .5s cubic-bezier(.25,.46,.45,.94) both;
//     ion-button{
//         height: 50px;
//         --background: var(--ion-color-primary-contrast);
//         color: var(--ion-color-primary);
//         margin-top: 20px;
//         font-size: 13px;
//         text-transform: none;
//         --border-radius: 10px;
//         ion-icon{
//             color: var(--ion-color-primary);
//             padding-right: 7px;
//             font-size: 25px;
//         }
  
//   }
// }
@-webkit-keyframes slide-in-bottom{0%{-webkit-transform:translateY(1000px);transform:translateY(1000px);opacity:0}100%{-webkit-transform:translateY(0);transform:translateY(0);opacity:1}}@keyframes slide-in-bottom{0%{-webkit-transform:translateY(1000px);transform:translateY(1000px);opacity:0}100%{-webkit-transform:translateY(0);transform:translateY(0);opacity:1}}
ion-content {
  --background: url('../../assets/images/bgImage2.png') no-repeat center center/cover;
}
ion-toolbar{
  -webkit-animation:slide-in-bottom 1.5s cubic-bezier(.25,.46,.45,.94) both;animation:slide-in-bottom 1.5s cubic-bezier(.25,.46,.45,.94) both;
  --background: transparent;
  text-align: center;
  padding-top: 12px;
  ion-label{
    color: var(--ion-color-light);
    font-size: 1.4rem;
    font-weight: bolder;
    letter-spacing: 5px;

  }
}

ion-footer {
  -webkit-animation:slide-in-bottom 1.5s cubic-bezier(.25,.46,.45,.94) both;animation:slide-in-bottom 1.5s cubic-bezier(.25,.46,.45,.94) both;
  height: 88%;
  ion-list {
      height: 100%;
      border-radius: 20px 20px 0 0;
      padding-top: 0px;
      padding-bottom: 0px;
      ion-list-header {
        margin-inline-start: var(--ion-margin, 10px); 
          ion-label {
              font-weight: bold;
              font-size: 1.5em;
              color: var(--ion-color-primary);
          }
      }
      .ListContent{
        padding: 16px;
        justify-content: center;
        text-align: center;
        img{
          height: 190px;
        }
        ion-button{
        animation: cardAnimation 2s ease 0s 1 normal forwards;
        height: 50px;
        --background: var(--ion-color-primary);
        color: var(--ion-color-light);
        margin-top: 10px;
        font-size: 13px;
        text-transform: none;
        --border-radius: 10px;
        ion-icon{
            color: var(--ion-color-light);
            padding-right: 7px;
            font-size: 25px;
        }
  
  }
      }
  }

}
@keyframes cardAnimation {
	0% {
		transform: scale(0);
	}

	100% {
		transform: scale(1);
	}
}