<ion-toolbar>
  <p class="clr header-text">Infromation</p>
</ion-toolbar>

<ion-content>
  <div class="main_content_div">
    <div class="centerItem">
      <div class="hafltBox">
        <ion-avatar class="avataar">
          <img id="cameraImage">
        </ion-avatar>
        <ion-button shape="round" class="Camerabtn"   (click)="capturImage()">
          <ion-icon name="camera"></ion-icon>
        </ion-button>
      </div>
    </div>

    <div class="detail_div">
      <div class="light_box">
        <ion-icon name="person"></ion-icon>
      </div>
      <ion-input type="text" placeholder="Full Name" [(ngModel)]="this.profileUpdate.full_name" ></ion-input>
    </div>
    <div class="detail_div">
      <div class="light_box">
        <ion-icon name="call"></ion-icon>
      </div>
      <ion-input type="text" placeholder="Phone No" [(ngModel)]="this.profileUpdate.phone" ></ion-input>
    </div>

    <div class="detail_div">
      <div class="light_box">
        <ion-icon name="id-card"></ion-icon>
      </div>
      <ion-input type="text" placeholder="CNIC" [(ngModel)]="this.profileUpdate.cnic" ></ion-input>
    </div>
    <div class="detail_div">
      <div class="light_box">
        <ion-icon name="location"></ion-icon>
      </div>
      <ion-input type="text" placeholder="Address" [(ngModel)]="this.profileUpdate.address" ></ion-input>
    </div>
    <div >
      <ion-button [disabled]="this.profileUpdate.full_name == '' || this.profileUpdate.cnic == '' || this.profileUpdate.phone == '' || this.profileUpdate.address == ''" expand="block" mode="ios" class="btn" (click)="updateProfile()">Update Profile</ion-button>
    </div>
  </div>
</ion-content>
