@font-face {
  font-family: Molot;
  src: url(./../../assets/fonts/Molot.otf);
}
:host {
  ion-tab-bar {
    border: 0;
    margin-top: -1px;
  }
}
@-webkit-keyframes slide-in-bottom{0%{-webkit-transform:translateY(1000px);transform:translateY(1000px);opacity:0}100%{-webkit-transform:translateY(0);transform:translateY(0);opacity:1}}@keyframes slide-in-bottom{0%{-webkit-transform:translateY(1000px);transform:translateY(1000px);opacity:0}100%{-webkit-transform:translateY(0);transform:translateY(0);opacity:1}}
ion-content {
  --background: var(--ion-color-primary)
}
ion-toolbar{
  -webkit-animation:slide-in-bottom 1.5s cubic-bezier(.25,.46,.45,.94) both;animation:slide-in-bottom 1.5s cubic-bezier(.25,.46,.45,.94) both;
  --background: transparent;
  text-align: center;
  padding-top: 20px;
  ion-label{
    color: var(--ion-color-light);
    font-size: 2rem;
    font-family: Molot;
    letter-spacing: 5px;

  }
}

ion-footer {
  -webkit-animation:slide-in-bottom 1.5s cubic-bezier(.25,.46,.45,.94) both;animation:slide-in-bottom 1.5s cubic-bezier(.25,.46,.45,.94) both;
  height: 88%;
  ion-list {
    height: 100%;
    border-radius: 20px 20px 0 0;
    padding-top: 0px;
    padding-bottom: 0px;
    ion-list-header {
      margin-inline-start: var(--ion-margin, 10px);
      ion-label {
        font-weight: bold;
        font-size: 1.5em;
        color: var(--ion-color-primary);
      }
    }
    .ListContent{
      padding: 16px;
      justify-content: center;
      text-align: center;
      img{
        height: 190px;
      }
      ion-button{
        animation: cardAnimation 2s ease 0s 1 normal forwards;
        height: 50px;
        --background: var(--ion-color-primary);
        color: var(--ion-color-light);
        margin-top: 10px;
        font-size: 13px;
        text-transform: none;
        --border-radius: 10px;
        ion-icon{
          color: var(--ion-color-light);
          padding-right: 7px;
          font-size: 25px;
        }

      }
    }
  }

}
@keyframes cardAnimation {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}
