<ion-toolbar>
  <ion-label class="ion-margin">
    Winners
  </ion-label>
</ion-toolbar>
<ion-content [fullscreen]="true">
  <ion-list lines="none">
    <div class="ListContent">
      <div>
        <img src="../../assets/images/winner.png" alt="">
      </div>
      <div class="main_content_div">

        <div class="camera_div" >
          <img src="" alt="">
        </div>
        <ion-grid>
          <ion-row>
            <ion-col (click)="detail(b)" size-md="6" size-xs="12" size="12" size-sm="12" *ngFor="let b of winnner; let i = index">
              <ion-card>
                <div class="img">
                  <img class="winner-img" src="{{b.image}}" >
                </div>
                <div class="card-content">
                  <div class="card-content-top">
                    <p class="price">
                     Won Rs. {{b.price}}
                    </p>
                  </div>
                  <div class="card-content-bottom">
                    <p class="name">
                      {{b.full_name}}
                    </p>
                    <ion-icon name="arrow-forward-outline"></ion-icon>
                  </div>
                </div>
              </ion-card>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </div>
  </ion-list>
</ion-content>
