<ion-content>
  <center>
    <div class="top-card">
      <p class="top-para">You're</p>
      <h1 class="top-head">
        #{{this.entryNo}}
      </h1>
      <p class="top-para">
        of #{{this.totalEntery}} on the waitlist
      </p>
      <p class="top-para top-para-2">
        Hurry Up!
      </p>
    </div>
    <ion-card class="middle">
      <ion-card-title class="timer">{{this.timeLeft}}</ion-card-title>
      <ion-card-title class="timer-name">hours &nbsp;&nbsp;&nbsp; min &nbsp;&nbsp;&nbsp; sec</ion-card-title>
    </ion-card>
    <ion-card class="bottom"></ion-card>
    <ion-card class="participate"></ion-card>

  </center>
</ion-content>
