<ion-content [fullscreen]="true">
  <ion-button fill="clear" class="ion-margin" (click)="goToBack()">
    <ion-icon name="arrow-back" slot="icon-only" color="white"></ion-icon>
  </ion-button>
</ion-content>

<ion-footer class="ion-no-border" >
  <div id="sign-in-button"></div>
  <ion-list lines="none">
    <ion-list-header class="ion-margin">
      <ion-label>Enter Your Number</ion-label>
    </ion-list-header>
    <div class="centeer">
      <ion-grid class="phoneAuthGrid">
        <ion-row>
          <ion-col size="4">
            <ion-select class="phoneCountry" value="brown" okText="Okay" cancelText="Dismiss"
                        (ionChange)="countryCodeChange($event)" [value]="CountryCode">
              <ion-select-option *ngFor="let country of CountryJson" value={{country.dial_code}}>
                {{country.dial_code + ' ' + country.name}}</ion-select-option>
            </ion-select>
          </ion-col>
          <ion-col size="8">
            <ion-input clearInput type="test" placeholder="Enter Number" [(ngModel)]="PhoneNo"
              class="input ion-padding-horizontal" clear-input="true"></ion-input>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-button [disabled]="this.PhoneNo == ''" expand="block" mode="ios" (click)="signinWithPhoneNumber($event)" class="btn-transition">
              Verify
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
  </div>
  </ion-list>

</ion-footer>

