ion-content {
    --background: url('../../assets/images/bgImage2.png') no-repeat center center/cover;
    ion-button{
         -webkit-animation:slide-in-bottom 1s cubic-bezier(.25,.46,.45,.94) both;animation:slide-in-bottom 1s cubic-bezier(.25,.46,.45,.94) both;
        color: var(--ion-color-light);
        ion-icon{
            color: var(--ion-color-light);
        }
    }
}

ion-footer {
    -webkit-animation:slide-in-bottom 1s cubic-bezier(.25,.46,.45,.94) both;animation:slide-in-bottom 1s cubic-bezier(.25,.46,.45,.94) both;
    height: 88%;
    ion-list {
        height: 100%;
        border-radius: 20px 20px 0 0;
        ion-list-header {
            ion-label {
                font-weight: bold;
                font-size: 1.8em;
                color: var(--ion-color-primary);
            }
        }
        ion-item {
            ion-label {
                font-size: 0.9em;
                overflow: visible;
                max-width: 550px;
                ion-row {                
                    ion-col {
                        ion-input {
                            font-size: 1.4em;
                            --background: var(--ion-color-Input-light);
                            display: inline-block;
                            width: 7vh;
                            height: 7vh;
                            border-radius: 5px;
                        }
                        .marginLeft {
                            margin-left: 3vh;
                        }
                    }
                }
            
            }
        }
    }

}
.centeer{
    justify-content: center;
    display: flex;
}
 
@media only screen and (max-width: 290px)  {
    ion-footer {
        -webkit-animation:slide-in-bottom 1s cubic-bezier(.25,.46,.45,.94) both;animation:slide-in-bottom 1s cubic-bezier(.25,.46,.45,.94) both;
        height: 88%;
        ion-list {
            height: 100%;
            border-radius: 20px 20px 0 0;
            ion-list-header {
                ion-label {
                    font-weight: bold;
                    
                    color: var(--ion-color-primary);
                }
            }
            ion-item {
                ion-label {
                    font-size: 0.9em;
                    overflow: visible;
                    max-width: 550px;
                    ion-row {                
                        ion-col {
                            ion-input {
                                font-size: 1.4em;
                                --background: var(--ion-color-Input-light);
                                display: inline-block;
                                width: 6vh;
                                height: 6vh;
                                border-radius: 5px;
                            }
                            .marginLeft {
                                margin-left: 2vh;
                            }
                        }
                    }
                
                }
            }
        }
    
    }

  }
    @-webkit-keyframes slide-in-bottom{0%{-webkit-transform:translateY(1000px);transform:translateY(1000px);opacity:0}100%{-webkit-transform:translateY(0);transform:translateY(0);opacity:1}}@keyframes slide-in-bottom{0%{-webkit-transform:translateY(1000px);transform:translateY(1000px);opacity:0}100%{-webkit-transform:translateY(0);transform:translateY(0);opacity:1}}


      .btn-transition {
        height: 50px;
        --background: var(--ion-color-primary);
        color: var(--ion-color-light);
        margin-top: 10px;
        font-size: 15px;
        text-transform: none;
        --border-radius: 10px;
      }
      
      .input {
        background-color: rgb(240, 240, 240);
        border: 1px solid rgb(210, 210, 210);
        border-radius: 9px;
        font-size: 0.9em !important;
      }
      .phoneCountry {
        background-color: rgb(240, 240, 240);
        border: 1px solid rgb(210, 210, 210);
        border-radius: 9px;
        font-size: 1em !important;
        margin-left: 2px;
        img{
            height: 25px;
            margin-left: 20px;
        }
      }