<ion-header>
  <ion-toolbar>
    <ion-title>testing</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<!--  <ion-card class="middle">-->
<!--    <ion-row>-->
<!--      <ion-col size="12">-->
<!--        <ion-row>-->
<!--          <ion-col class="time-z" size="3">{{this._days}}</ion-col>-->
<!--          <ion-col class="time-z" size="3">{{this._hours}}</ion-col>-->
<!--          <ion-col class="time-z" size="3">{{this._minutes}}</ion-col>-->
<!--          <ion-col class="time-z" size="3">{{this._seconds}}</ion-col>-->
<!--        </ion-row>-->
<!--      </ion-col>-->
<!--      <ion-col size="12">-->
<!--        <ion-col class="time-t" size="3">Day</ion-col>-->
<!--        <ion-col class="time-t" size="3">Hour</ion-col>-->
<!--        <ion-col class="time-t" size="3">Min</ion-col>-->
<!--        <ion-col class="time-t" size="3">Sec</ion-col>-->
<!--      </ion-col>-->
<!--    </ion-row>-->

<!--  </ion-card>-->
<!--  <ng-lottie [options]="options" (animationCreated)="animationCreated($event)"></ng-lottie>-->
</ion-content>
